extends layout
block content

  h1= title

  form#fileUpload(method="post" action="/uploads/upload" enctype="multipart/form-data")
   label(for="payload") Select a file to upload:
   input#payload(type="file" name="myFile" accept="*")
   br
   br
   label(for="payload") Select a file to upload:
   input#payload(type="file" name="myFile" accept="*")
   br
   br
   label(for="payload") Select a file to upload:
   input#payload(type="file" name="myFile" accept="*")
   br
   br
   label(for="payload") Select a file to upload:
   input#payload(type="file" name="myFile" accept="*")
   br
   br
   label(for="payload") Select a file to upload:
   input#payload(type="file" name="myFile" accept="*")
   br
   br

   button#upload Upload